[color]
	ui = true

[user]
	email = wl200103124@163.com
	name = wlz
[http]
	proxy = socks5://127.0.0.1:1080
[https]
	proxy = socks5://127.0.0.1:1080

[socks]
	proxy = 127.0.0.1:1080
[core]
	gitProxy = ~/proxyy
